<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GinnieMae Enterprise Portal</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="X-Frame-Options" content="DENY" />
	<meta http-equiv="X-XSS-Protection" content="X-XSS-Protection: 1; mode=block" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="refresh" content="890; URL=/" />
	<link rel="stylesheet" type="text/css"
		href="../static/auth/css/standard.css"
		th:href="@{/auth/css/standard.css}" />
	<link rel="icon" type="image/ico" href="/favicon.ico" />
	<script>
    	var url = new URL(window.location.href);
    	var fpwValue = url.searchParams.get("fpw");
    	if (fpwValue) {
    		var initAuthMsg = "Please provide your username.";
    	} else {
    		var initAuthMsg = "Please provide your username and password.";
    	}
    	window.onload = function doit() {
    		document.getElementById("initAuth").innerHTML = initAuthMsg;
    	};
	</script>
</head>

<body>
	<div id="container">
		<div id="top-grid">
			<div class="publicPortalLogo" alt="Ginnie Mae Guaranty Logo" title="Ginnie Mae Guaranty Logo"></div>
			<div class="publicMyGinneMaeLogo" alt="MyGinnieMae" title="MyGinnieMae"></div>
		</div>
		<div id="left-grid"></div>
		<div id="center">
			<div id="inner-box">
				<div id="inner-box-left">
					<p class="blue-title">Government Security Disclosure</p>
					<p class="d-text" th:utext="#{gnma.disclosure}">
						GNMA Disclosure
					</p>
				</div>
				<!-- clibl -->
				<div style="display:none;">
					<input autocomplete="off" type="text" name="preventAutoPass" id="NoAutoPass"/>
					<input autocomplete="off" type="password" name="textPass" id="NoAutoPass"/>
				</div>
				<div id="inner-box-right" align="left">
					<p class="blue-title">Initial Authentication</p>
					<p class="d-text" id="initAuth"></p>
					<form action="#" th:action="@{/oam/server/auth_cred_submit}"
						th:object="${cred}" method="post" name="loginData"
						th:autocomplete="new-password">
						<input type="hidden" name="requestid" value="${param.request_id}" />
						<input type="hidden" name="resourceurl" value="${param.resource_url}" />
						<input type="hidden" name="OAM_REQ" value="${param.OAM_REQ}" />
						<fieldset id="login-form">
							<label th:title="#{gnma.invalid.gnmaUser.error}" class="error"
								th:if="*{unpError} == true and *{fpw} == false"
								th:utext="#{gnma.invalid.gnmaUser.error}">Username or password invalid</label>
							<label th:title="#{gnma.fpw.invalid.username.error}" class="error"
								th:if="*{unpError} == true and *{fpw} == true"
								th:utext="#{gnma.fpw.invalid.username.error}">Username or password invalid</label>
							<label
								th:title="#{gnma.user.locked.error}" class="error"
								th:if="*{lockError} == true and *{fpw} == false"
								th:utext="#{gnma.user.locked.error}">Username or password invalid.</label> 
							<label
								th:title="#{gnma.user.locked.error}" class="error"
								th:if="*{lockError} == true and *{fpw} == true"
								th:utext="#{gnma.fpw.invalid.username.error}">Username or password invalid.</label> 
							<label
								th:title="#{gnma.user.disabled.error}" class="error"
								th:if="*{disabledError} == true"
								th:utext="#{gnma.user.disabled.error}">User account is disabled.</label>
							<input type="text" th:field="*{username}" placeholder="Username"
								th:value="${cred.username}"
								onfocus="this.removeAttribute('readonly')"
								onfocusout="this.setAttribute('readonly','readonly');"
								th:autocomplete="new-password" alt="Enter your username here" title="Enter your username here"/>
							<input type="password" th:field="*{password}" placeholder="Password"
								th:value="${cred.password}" th:if="*{fpw} == false"
								onfocus="this.removeAttribute('readonly')"
								onfocusout="this.setAttribute('readonly','readonly'); "
								th:autocomplete="new-password" alt="Enter your password here" title="Enter your password here"/>
							<br />
							<input type="submit" value="Login" name="submit" class="submit" alt="Click to log in" title="Click to log in"/>
							<br />
						</fieldset>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:if="*{fpw} == false"
							alt="Click to reset a forgotten password" title="Click to reset a forgotten password"
							href="/amc/fpw.html" class="d-text">Forgot Password?</a>
						<br th:if="*{fpw} == true" />
						<br th:if="*{fpw} == true" />
						<br th:if="*{fpw} == true" />
					</form>
				</div>
				<!-- clibr -->
			</div>
		</div>
		<!-- clctr -->
		<div id="right-grid">
			<br /> <br />
		</div>
		<div id="bottom-grid"></div>
	</div>
	<!-- clctn -->

</body>
</html>
