<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Ginnie Mae Enterprise Portal </title>
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="X-Frame-Options" content="DENY" />
    <meta http-equiv="X-XSS-Protection" content="X-XSS-Protection: 1; mode=block" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/auth/css/standard.css" th:href="@{/auth/css/standard.css}" />
	<link rel="icon" type="image/ico" href="/favicon.ico" />
</head>
<body>
    <div id="pwd-reset">
        <p class="d-text" > To reset your password click this link: <a href="/identity" target="_blank">Forgot Password</a>  </p>
    </div>
</body>
</html>
